/* @font-face {
  font-family: 'Caveat-Regular';
  src: url('../fonts/Caveat-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Caveat-Medium', sans-serif;
}
.title_header {
  font-family: 'Caveat-Medium';
  font-style: normal;
  font-weight: 200px;
  font-size: 20px;
  line-height: 17px;
  color: #f4f1f1;
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(grey, #1a1919);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}
.header {
  background-color: rgba(0, 0, 0, 0.7);
} */
