.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Чтобы модальное окно было поверх других элементов */
}
.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}
.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
}
.container {
  max-width: 400px;  
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 15px;
}

.button_bid {
  padding: 10px;
  background-color: #a9a4a4;
  color: rgb(11, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
}

.button_bid:hover {
  color: rgb(245, 241, 241);
  background-color: #484747;
}
