/* .content {
  width: 100vw;
  height: 100vh;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.slide {
  position: absolute;
  opacity: 0;
  inset: 0;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
}
.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 61px;
}
.carousel_button {
  /* padding-top: 241px; */
  position: absolute;
  /* z-index: 2;
  font-size: 4rem;
  background: none;
  border: none;
  top: 50%;
  color: rgba(10, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  /* background-color: rgba(0, 0, 0, .2); */
/* }
.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel_button.next {
  right: 1rem;
}
.carousel_button.prev {
  left: 1rem;
}
.project_info {
  display: flex;
  flex-wrap: nowrap;
}
.image {
  width: 200px;
  border-radius: 10px;
  background: rgb(100, 100, 100)
    radial-gradient(
      circle at 50% 0,
      rgba(255, 255, 255, 0.65),
      rgba(255, 255, 255, 0.35)
    );
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
    inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}
.info {
  padding-left: 100px;
  font-family: 'Kode Mono';
  font-style: normal;
  font-size: 30px;
  line-height: 17px;
  color: #0a0000;
  padding-top: 20px;
  padding-bottom: 20px;
}
.info:nth-child(2n-1) {
  background-color: rgb(204, 199, 199);
}
.info::before {
  content: '* ';
  color: rgb(8, 8, 8);
} */ */ */