@font-face {
  font-family: 'Caveat-Regular';
  src: url('../fonts/Caveat-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Caveat-Medium', sans-serif;
}

.fon {
  /* height: 800px; */
  background-image: url(../img/lodke-dali-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}
.text_top {
  font-family: 'Caveat-Medium', sans-serif;
  padding-top: 50px;
  font-style: normal;
  font-size: 50px;
  color: #fcf9f9;
  padding-left: 25px;
}
.fon_gradient {
  background: linear-gradient(grey, #1a1919);
  width: 30%;
}
* {
  margin: 0;
  padding: 0;
}
.text {
  font-family: 'Caveat-Medium';
  padding-top: 50px;
  padding-bottom: 30px;
  font-style: normal;
  font-size: 25px;
  text-align: justify;
  color: #ada9a9;
  padding-left: 25px;
}

.blocktext {
  width: 500px;
  height: 120px;
  padding-right: 130px;
}
.blockcontent {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

@media (max-width: 480px) {
  .text {
    display: none;
  }
  .text_top {
    font-size: 30px;
  }
}
