.texttop {
  text-align: center;
  font-size: 30px;
}

ol > li {
  padding-left: 20px;
  position: relative;
  margin: 10px;
}
ol > li:before {
  content: '✔';
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(7, 7, 7);
}

.textuser {
  margin-top: 20px;
}

.textblock {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

ol {
  list-style: none;
  padding-left: 20px;
}
.textstyle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}
.kayki {
  font-size: 65px;
  margin-left: 10px;
}

.kanoe {
  font-size: 35px;
  margin-left: -10px;
}

.shvertboat {
  font-size: 45px;
}
.lodky {
  font-size: 30px;
  margin-left: -60px;
}

.textcontent {
  font-size: 30px;
  padding-left: 25px;
  padding-top: 25px;
}

@media (max-width: 1000px) {
  .texttop {
    text-align: center;
    font-size: 25px;
  }
  .kayki {
    font-size: 50px;
    margin-left: 10px;
  }

  .kanoe {
    font-size: 25px;
    margin-left: -10px;
  }

  .shvertboat {
    font-size: 35px;
  }
  .lodky {
    font-size: 20px;
    margin-left: -45px;
  }
}

@media (max-width: 768px) {
  .texttop {
    text-align: center;
    font-size: 17px;
  }
  .kayki {
    font-size: 45px;
    margin-left: 10px;
  }

  .kanoe {
    font-size: 20px;
    margin-left: -10px;
  }

  .shvertboat {
    font-size: 30px;
  }
  .lodky {
    font-size: 23px;
    margin-left: -15px;
  }
  .textcontent {
    font-size: 25px;
    padding-left: 25px;
    padding-top: 25px;
  }
}

@media (max-width: 480px) {
  .textcontent {
    font-size: 20px;
  }
  .texttop {
    display: none;
  }
  .lodky {
    display: none;
  }
  .kayki {
    display: none;
  }
  .kanoe {
    display: none;
  }
  .shvertboat {
    display: none;
  }
}
